<h1>categories page</h1>

<br>
<% @lists.each do |list| %>
  <%= list.date %>
  <%= list.food %>
  <%= list.category %>
  <%= list.grocery %>
  <%= list.price %>
  <%= list.twoserviceprice %>
  <%= list.note %><br><br>
<% end %>

<%= link_to 'Home', root_path %>
